Checks: "-*,-clang-analyzer-*,-clang-diagnostic-*,readability-magic-numbers,readability-identifier-naming"

WarningsAsErrors: "*"

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase, value: lower_case }
  - { key: readability-identifier-naming.StructCase, value: CamelCase }
  - { key: readability-identifier-naming.FunctionCase, value: camelBack }
